.ext_but{
    z-index: 1000;
  
    position: absolute;
    display: inline-block;
    height: auto;
    width: auto;
    max-height: 2em;
    max-width: 2em;

    vertical-align: middle;
    text-align: center;
    line-height: 30px;
  
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    color:white;

    box-shadow: 0 0 0 0 rgb(25, 75, 103);
    background-color: rgb(25, 75, 103);
    opacity: 50%;
    border: none;
    border-radius: 10%;

    transition: all .2s ease;
}
  
.ext_but:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px .1px rgb(25, 75, 103);
    opacity: 100%;
}