.translation-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    position: absolute;

}

.translation-btn {
    z-index: 1000;
  
    height: auto;
    width: auto;
    margin-left: .2em;

    vertical-align: middle;
    text-align: center;
  
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    color:white;

    box-shadow: 0 0 0 0 rgb(25, 75, 103);
    background-color: rgb(25, 75, 103);
    opacity: 50%;
    border: none;
    border-radius: 10%;

    transition: all .2s ease;
}
  
.translation-btn:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px .1px rgb(25, 75, 103);
    opacity: 100%;
}