html, body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

#no-widgets-message {
  display: none;
}

.col {
  display: flex;
  flex-direction: column;

  padding: .5em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#beaut-json {
  padding: .5em;
  margin-top: 0;

  max-width: 100vw;
  overflow: hidden;

  background-color: rgb(241, 241, 241);
  border-radius: 10px;
}

#beaut-json:hover {
  overflow: scroll;
}

input {
  margin: .5em;
}

#myIpv4 {
  width: 9em;
  padding: 0;
  margin: 0;
  margin-left: .2em;
  visibility: inherit;
}

#ip-container {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

#ip-indicator {
  border-radius: 100%;
  background-color: green;
  visibility: inherit;
  width: 10px;
  height: 10px;
}

.section {
  font-weight: bold;
  text-decoration: underline;

  height: 1em;
  width: 100%;
}

.clickable:hover {
  color: rgb(85, 85, 250);
}

.clickable:active {
  color: rgb(255, 106, 106);
}